# Ignore files
*.ini

#imdb test files 
scrapers/imdb/null
scrapers/imdb/*.txt
scrapers/imdb/*.json
scrapers/imdb/*.bak
scrapers/imdb/test.*
scrapers/imdb/dailyCrawler.sh

#urbanspoon files
scrapers/urbanspoon/*.json
scrapers/urbanspoon/*.csv

#python (we should ignore all .pyc files)
*.pyc

#misc
.DS_Store

#java
*.class

# Ignore Weiss (webapp directory)
weiss/*
